<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={Path.join([@static_path, "assets", "main.css"])}>
	<link rel="stylesheet" href={Path.join([@static_path, "assets", "main-vol2.css"])}>
	<link rel="stylesheet" href={Path.join([@static_path, "assets", "grid.css"])}>
	<link rel="stylesheet" href={Path.join([@static_path, "assets", "grid-vol2.css"])}>
	<link rel="stylesheet" href={Path.join([@static_path, "assets", "font-awesome-free-5.15.4-web/css/all.min.css"])}>
</head>
<body>
	<%= @inner_content %>
</body>
</html>